.main-content {
  padding: 2em 0;
  .row {
    max-width: $medium-breakpoint;
  }
  .mobile-feat-img {
    margin: -2em 0 2em 0;
    text-align: center;
  }
}

body.page {
  .main-content.row {
    max-width: rem-calc(960);
  }
}

.main-content {
  padding-bottom: 3em;
}

.reveal-modal .close-reveal-modal {
	padding: 0.25em;
}

//loader

.spinner {
  position: absolute;
  //margin: 100px auto 0;
  top: 98px;
  left: 50%;
  margin-left: -35px;
  text-align: center;
  @media #{$medium-up} {
    position: absolute;
    //margin: 100px auto 0;
    top: 80px;
    width: 70px;
    left: 50%;
    margin-left: -35px;
  }
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ddd;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}