//_vars.scss

$purple: rgb(93, 86, 95);
$primary: cornflowerblue;
$primary: #7E5AE2;
$accent: gainsboro;
$warm: indianred;
$offwhite: whitesmoke;


//new color palate
$midnight: #383E4C;
$m-dark: #262c37;
$copy: #535965;
$list: #757983;


// variance
$pink: #E25A77;
$violet: #E25ABC;
$royal: #7E5AE2;


$anime: all 200ms ease-in-out;