//_waves.scss

.featured-track {
	position: relative;
	background-color: #fbfbfb;
	margin-bottom: 3em !important;
	overflow: hidden;
	box-shadow: 0 0 1px #ccc;
	.ft-art {
		transition: $anime;
		@media #{$medium-up} {
			width: 34%;
			float: left;
		}
	}
	.ft-info {
		padding: 1em;
		text-shadow:-1px 1px 0 rgba(255,255,255,0.75);
		transition: $anime;
		@media #{$medium-up} {
			width: 66%;
			float: left;
			// padding-left: 1em;
		}
		h5 {
			text-transform: uppercase;
			font-size: 1rem;
			line-height: 1;
			color: darken($accent,10%);
			span {
				// color: darken($accent,5%);
				font-weight: 300;
				// font-size: 60%;
				// margin-left: 1em;
				float: right;
				// display: inline-block;
			    // margin-top: 5px;
			}
		}
		h3 {
			margin-bottom: 1em;
			color: #999;
			line-height: 1;
			font-size: 1.5rem;
			small {
				color: darken($accent,10%);
			}

		}
	}
	footer {
		// padding: 2em;
		text-align: center;
		@media #{$medium-up} {
			position: absolute;
			bottom: 1em;
			left: 34%;
			width: 66%;
		}
		span {
			cursor: pointer;
			padding: 1em;
			position: relative;
			z-index: 1000;
			&:hover i:before {
				color: lighten($primary, 10%);
			}
		}
		i:before {
			content: "\f04b";
			color: $primary;
			transition: color 200ms ease-in-out;
		}
		.playing i:before {
			content: '\f04c';
			color: #999;
		}
	}
}